*{
   margin: 0;
    padding: 0;
    box-sizing: border-box
    position relative;
}

html{
    background-color: #fbfaf6;
    color:#404030;
    font-family: serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body{
    max-width: 1276px;
    margin: 0 auto;
    background-color:#fff;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 3rem;
    padding: 2rem 5rem 2rem 5rem;
}

h3{font-size: 1.2rem; color: #FF00FF}

h2{font-size: 1.2rem; color:#4F81BD}

p{
    margin-bottom: 1.2rem;
    padding: 0 5rem;
    line-height: 135%;
}

.body-text {
    display: flex;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: teal;
    font-family: "Montserrat" sans-serif;
}

.heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}

.nav-links a:hover:not(.active) {
    background-color: lightseagreen;
}

.nav-links li a.active {
    background-color: #4caf50
}